<div class="container pt-2">
  <h1>Charts using High Charts (Pokemon Dataset)</h1>
  <hr/>
  <div class="row">
    <div class="col-12 col-md-6">
      <app-pie-chart></app-pie-chart>
    </div>
    <div class="col-12 col-md-6">
      <app-box-chart></app-box-chart>
    </div>
  </div>
  <div class="row my-4 text-center">
    <div class="col"><hr/></div>
    <div class="col">Compare Pokemon</div>
    <div class="col"><hr/></div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-bar-chart></app-bar-chart>
    </div>
  </div>
</div>