<div class="position-relative overflow-visible">
    <input 
        class="form-control" 
        [placeholder]="placeholder" 
        (focus)="onFocus()"
        [value]="inputValue"
        (input)="onSearch($event)"
    >
    <div *ngIf="inputFocused" class="position-absolute top-0 start-0 w-100 mt-5" style="z-index: 100;">
        <select class="form-select" size="4" (change)="onChanged($event)">
            <option
                *ngFor="let option of options | filter: searchValue : exclude"
                [value]="{ label: option.label, value: option.value } | json"
            >
                {{ option.label }}
            </option>
        </select>
    </div>
</div>